.container {  display: grid;
    grid-template-columns: 0.6fr 1.2fr 1.2fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header grid-header grid-header grid-header"
      "grid-nav grid-text grid-svg grid-svg"
      "grid-nav grid-text grid-controls grid-controls";
  }
  
  .grid-nav { grid-area: grid-nav; }
  
  .grid-text { grid-area: grid-text; }
  
  .grid-header { grid-area: grid-header; }
  
  .grid-svg { grid-area: grid-svg; }
  
  .grid-controls { grid-area: grid-controls; }
  